---
import About from "../components/About.astro";
import CourseYoutube from "../components/CourseYoutube.astro";
import Hero from "../components/Hero.astro";
import Socials from "../components/Socials.astro";
import Tutor from "../components/Tutor.astro";
import Form from "../components/Form.astro";
import Footer from "../components/Footer.astro";
import Testimonial from "../components/Testimonial.astro";
import Nav from "../components/Nav.astro";

import Layout from "../layouts/Layout.astro";

// Hero to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="StudyBiology">
  <Nav />
  <Hero />
  <About />
  <Socials />
  <Tutor />
  <Testimonial />

  <CourseYoutube />
  <Form />
  <Footer />
  <div class="fixed bottom-6 right-6 z-50">
    <a
      href="https://wa.me/+917356450277"
      target="_blank"
      class="group flex items-center bg-[#25D366] text-white rounded-full shadow-xl h-14 w-14 hover:w-[180px] transition-all duration-300 ease-in-out overflow-hidden pl-4"
    >
      <i class="fab fa-whatsapp text-2xl"></i>
      <span
        class="ml-3 whitespace-nowrap opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-sm font-medium"
      >
        Chat with us
      </span>
    </a>
  </div>

  <!-- Call Button (Bottom-Left) -->
  <div class="fixed bottom-6 left-6 z-50">
    <a
      href="tel:7356450277"
      class="group flex items-center bg-[#0A66C2] text-white rounded-full shadow-xl h-14 w-14 hover:w-[160px] transition-all duration-300 ease-in-out overflow-hidden pl-4"
    >
      <i class="fas fa-phone text-xl"></i>
      <span
        class="ml-3 whitespace-nowrap opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-sm font-medium"
      >
        Call now
      </span>
    </a>
  </div>
</Layout>
